@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh;   */
    box-sizing: border-box;
    background-color: #000000;
    color: #FFF0F2;
}

.cabecalho {
    padding: 1% 0% 0% 10%;
    margin-bottom: 0%;
}

.cabecalho__menu {
    display: flex;
    gap: 40px;
}

.cabecalho__menu__link {
    font-family: monospace;
    font-size: 20px;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}

.apresentacao {
    padding: 0% 0% 6% 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.texto-destaque {
    background-color: #22D4FD;
    width: 100px;
    text-align: center;
    padding: 10px 10px;
}

.apresentacao__conteudo {
    width: 1018px;
    height: 350;
}

.apresentacao__coteudo__titulo {
    font-size: 50px;
    margin-top: 50px;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.apresentacao__coteudo__subtitulo {
    font-size: 45px;
    padding-top: 2%;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.apresentacao__coteudo__texto {
    font-size: 30px;
    margin-top: 15px;
    padding: 0% 15% 0% 15% ;
    text-align: center;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 30px;
    margin-left: 80px;
    align-items: center;
}

.apresentacao__links__link {
    display: flex; 
    justify-content: center;
    gap: 16px;
    border: 3px solid #22D4FD;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    font-size: 24px;
    padding: 10px 0;
    text-decoration: none;
    color: #FFF0F2;
}
.apresentacao__links__link:hover {
    background-color: #1f1c20;
}

img {
    max-width: 500px
}

.rodape {
    color: #000000;
    background-color: #22D4FD;
    padding: 24px;
    text-align: center;
    font-family: monospace;
    font-size: 15px;
    font-weight: 400;
    margin-top: 0%;
}